body {
  margin: 0px;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  

  #split {
    // background: red;
    flex: 1;
    padding: 15px;
    display: flex;
    flex-direction: column;
  }
}

@media (min-width: 768px) {
  #root {
    flex-direction: row;
    overflow: hidden;

    #split{
      // display: flex;
      flex-direction: row;
    }
  }
}